Source: raskiidoc
Section: misc
Priority: extra
Maintainer: Julien Fabre <ju.pryz@gmail.com>
Build-Depends: debhelper (>= 8.0.0), rubygems, rake-compiler
Standards-Version: 3.9.4
Homepage: https://github.com/llicour/raskiidoc

Package: raskiidoc
Architecture: any
Depends: ruby, rake, rubygems, python-support (>= 0.90)
Suggests: asciidoc
Description: Rakefile to simplify generation of asciidoc documents
 Rakefile to simplify generation of asciidoc documents.Asciidoc generation
 can use complex arguments hard to remember, and could be document specific.
